// Copyright (c)2022 Quinn Michaels. All rights reserved.
#MudCommunications
  .alerts
    .feecting
      background-color: rgba($colors.darkest-grey, .5)
      margin: 2px
      border-radius: .5rem
      padding: .5rem
      color: lighten($colors.darkest-grey, 50%)
      > .line
        padding: 0
