.text
  transition: all 1s linear
  width: 100%
  overflow: auto
  .feecting
    height: 100%
    font-size: .8rem

    h1
      font-size: 1.5rem
    h2
      font-size: 1.2rem

    .item
      margin-top: 2px
      .label
        color: $colors.grey
    .input
      width: 100%
      &-descrip
        height: 5rem
        &:focus
        &:active
          height: 9rem
      &-text
      &-descrip
        transition: var(--transition-default)
        resize: none
        width: 100%
        color: $colors.dark-grey
        background-color: rgba($colors.white, .5)
        padding: .5rem
        border-radius: .5rem
        font-size: 1rem
        border: none
        &:focus
        &:active
          font-size: 1.25rem
          background-color: rgba($colors.light-yellow, 1)
          color: $colors.dark-yellow
          font-weight: bold
          border: none
          outline: none

      &-select
        border: none
        box-shadow: none
        outline: 0
        color: $colors.baby-blue
        padding: .1rem
        width: 100%
        text-align: left
        background-color: transparent
        &:hover
          background-color: rgba($colors.baby-blue, 1)

    [data-index]
      &::before
        display: inline-block
        content: attr(data-index)
        font-weight: bold
        min-width: 1.5rem
        border-radius: 1rem
        text-align: center
        margin-right: .5rem
        text-transform: lowercase
        
      &.label
        &::before
          background-color: $colors.grey
          color: darken($colors.grey, 50%)

      &.menu
        &::before
          background-color: $colors.baby-blue
          color: darken($colors.baby-blue, 50%)
        &[title="quit"]
          &::before
            background-color: $colors.red
            color: darken($colors.red, 50%)
        &[title="done"]
          &::before
            background-color: $colors.green
            color: darken($colors.green, 50%)
