/* Copyright (c)2021 Quinn Michaels */

.feecting
  background-repeat: no-repeat
  background-position: top center
  background-size: 100% auto
  p
    margin-top: 0
    margin-bottom: 1rem
    font-size: 1.2rem
    line-height: 1.5
  &-image
  .external-image
    display: block
    text-align: center
    img
      max-width: 100%
      border-radius: .5rem

  .avatar-image
    float: left

.feecting
#Content
  font-family: $fonts-text

  .comment
    color: $colors.grey
    background-color: darken($colors.grey, 50%)
    padding: .5rem
    margin: .25rem 0
    border-radius: .5rem

  .btn
    &.menu
      transition: all .5s linear
      background-color: transparent
      font-weight: bold
      border-radius: .5rem
      padding: .15rem 0
      margin: 2px 0
      color: $colors.baby-blue
      text-align: left
      &[data-menu]
        &::before
          content: attr(data-menu)
          background-color: rgba($colors.baby-blue, .25)
          border-radius: 5rem
          display: inline-block
          min-width: 1.5rem
          text-align: center
          display: inline-block
          line-height: 1.5

      &::before
        transition: var(--transition-default)
        content: "\e8d0"
        margin-right: .5rem
      &:hover
        text-shadow: 0 0 9px rgba($colors.green, 50%)
        color: $colors.green
        background-color: transparent
    &.bmud
      font-size: .9rem
      margin: .2rem
      padding: .25rem .5rem
      background-color: rgba($colors.green, .25)
      color: $colors.green
      &:hover
        background-color: rgba($colors.green, .75)
        color: darken($colors.green, 75%)

  .back-button
    color: $colors.light-grey
    position: absolute
    top: 0
    left: 0
    &:hover
      color: $colors.baby-blue

  h1, h2, h3, h4
    line-height: 1.25
    font-weight: 100
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
  h1
    font-size: 2.5rem
    padding: 25px 0 10px 0
    margin: 5px 0 5px 0
    border-bottom: 5px solid

  h2
    font-size: 2.1rem
    padding: 20px 0 5px 0
    margin: 5px 0 5px 0
    border-bottom: 3px solid

  h3
    font-size: 1.7rem
    padding: 15px 0 5px 0
    margin: 5px 0 5px 0
    border-bottom: 2px solid

  h4
    font-size: 1.3rem
    padding: 10px 0 5px
    margin: 5px 0 5px 0

  .comments
    margin: 10px 0 0 0
    display: flex
    flex-flow: column nowrap
    .label
      display: none
    .comment
      display: flex
      flex-flow: row nowrap
      padding: 1rem
      .avatar
        margin-right: .5rem
        img
          border-radius: 50%
  .begin
    margin: 10px 0 0 0
    color: $colors.orange

  .end
    margin: 0 0 10px 0
    color: $colors.orange

  .var
    margin: 3px 0 0 0

  .number-item
    margin: 5px 0 0 0
    display: block

    .number
      flex: 0 35px

    .name
      flex: 1

  .line
    line-height: 1.5
    min-height: 15px

    .direction
      min-width: 50%
      border-radius: 1rem
      display: flex
      align-items: center
      padding: .3rem .5rem .3rem .3rem
      flex: 1
      .icn
        flex: 0
        padding: .2rem

      span
        flex: 1
        text-align: left
        font-weight: bold
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
        font-size: 1rem

      &.north
      &.up
        color: $colors.green
      &.south
      &.down
        color: $colors.orange
      &.east
        color: $colors.pink
      &.west
        color: $colors.baby-blue

      &:hover
        &.north
        &.up
          background-color: $colors.green
          color: darken($colors.green, 50%)
        &.south
        &.down
          background-color: $colors.orange
          color: darken($colors.orange, 50%)
        &.east
          background-color: $colors.pink
          color: darken($colors.pink, 50%)
        &.west
          background-color: $colors.baby-blue
          color: darken($colors.baby-blue, 50%)

  .info
    font-size: .85rem
    margin: 0 0 .5rem 0
    color: $colors.darkest-grey
    background-color: $colors.white
    border: 1px solid
    border-radius: .5rem
    padding: .5rem

  .image
    text-align: center
    margin: 1rem 0
    img
      border-radius: .5rem
      max-width: 100%

  .item
    display: flex
    flex-flow: row nowrap
    margin: 3px 0


    &.select
      .label
        min-width: 100px

    &.coordinates
      display: none

    .value
      width: 100%
      padding: .1rem .25rem
      font-size: 1rem

    .label
      min-width: 125px
      font-size: .75rem
      padding: .25rem

      &.emoji
        line-height: 1
        min-width: 50px
        font-size: 1.15rem

      &.Buddha
        color: $colors.orange
        border-color: $colors.orange
        & + .value
          color: $colors.light-orange

      &.Rahula
        color: $colors.yellow
        border-color: $colors.yellow
        & + .value
          color: $colors.light-yellow

      &.WARNING
        color: $colors.red
        border-color: $colors.red
        & + .value
          color: $colors.red

      &.observe
        color: $colors.green
        border-color: $colors.green
        & + .value
          color: $colors.light-green

      &.develop
        color: $colors.orange
        border-color: $colors.orange
        & + .value
          color: $colors.light-orange

      &.learn
        color: $colors.pink
        border-color: $colors.pink
        & + .value
          color: $colors.light-pink

      &.wait
        color: $colors.pink
        border-color: $colors.pink
        & + .value
          color: $colors.light-pink


      &.func, &.break, &.set, &.listen, &.module, &.goal, &.report, &.print,
      &.focus, &.file, &.line, &.define, &.question, &.do, &.for, &.while,
      &.during, &.focus, &.goto, &.doc, &.audio, &.offer, &.rent, &.look, &.list, &.buy
        border-right: none
        border: none
        border-radius: 10px 0 0 10px
        padding: 6px 10px
        line-height: 1.25
        margin-top: 5px
        & + .value
          border-radius: 0 10px 10px 0
          padding: 6px 10px
          margin-top: 5px

      &.report
        color: $colors.baby-blue
        background-color: $colors.blue
        & + .value
          color: $colors.blue
          background-color: $colors.baby-blue

      &.break
        color: $colors.light-red
        background-color: $colors.red
        & + .value
          color: $colors.red
          background-color: $colors.light-red

      &.set, &.listen, &.func, &.medhod, &.module
        color: $colors.purple
        background-color: $colors.aqua
        & + .value
          color: $colors.purple
          background-color: $colors.light-aqua

      &.goal
        color: $colors.blue
        background-color: $colors.baby-blue

        & + .value
          color: $colors.baby-blue
          background-color: $colors.blue

      &.do, &.for, &.while, &.during, &.goto
        color: $colors.light-green
        background-color: $colors.green
        margin-top: 10px
        & + .value
          color: $colors.green
          background-color: $colors.light-green
          margin-top: 10px


      &.if, &.then, &.else, &.finally, &.wait
        color: $colors.yellow
        border-color: $colors.yellow
        margin-top: 10px
        border-top: 1px solid
        border-right: none
        & + .value
          color: $colors.black
          background-color: $colors.yellow
          margin-top: 10px
          padding: 3px 10px 3px 10px
          border-radius: 0 10px 10px 0


      &.print, &.focus, &.file, &.line, &.define, &.question, &.focus, &.audio, &.doc
      &.offer, &.rent, &.look, &.list, &.buy
        border-right: none
        color: $colors.light-grey
        background-color: $colors.grey

        & + .value
          color: $colors.grey
          background-color: $colors.light-grey

      &.pin
        border-right: none
        color: $colors.orange
        background-color: $colors.darkest-grey
        border: none
        border-radius: 12px 0 0 12px
        padding: 3px 6px
        font-size: .8rem
        flex: 0 50px
        min-width: 50px
        margin: 1px 0
        &::before
          content: "\e832"
          font-family: 'icons'
          margin-right: 5px
        & + .value
          color: $colors.light-orange
          background-color: $colors.darker-grey
          border-radius: 0 12px 12px 0
          padding: 3px 6px
          font-size: .8rem
          margin: 1px 0


  hr
    &.single
      margin: .5rem 0 .5rem 0
      border: 0
      &.xsmall
        border-bottom: 1px solid
      &.small
        border-bottom: 2px solid
      &.medium
        border-bottom: 3px solid
      &.large
        border-bottom: 5px solid


    &.double
      margin: .5rem 0 .5rem 0
      border: 0
      &.xsmall
        border-bottom: 1px double
      &.small
        border-bottom: 2px double
      &.medium
        border-bottom: 3px double
      &.large
        border-bottom: 5px double

    &.heading
      margin: 2rem 0 2rem 0
      border: 0
      border-bottom: 7px dotted $colors.orange


  .remember-word
    border-radius: 5px
    display: inline-block
    padding: 0 3px
    margin: 1px
    color: $colors.black
    background-color: $colors.yellow
    font-weight: bold

  .learn-word
    border-radius: 5px
    display: inline-block
    padding: 0 3px
    color: $colors.white
    background-color: $colors.pink
    font-weight: bold

  .child
    padding: 2px 5px
    > .key
      transition: var(--transition-default)
      margin:  0 2px
      padding: 5px 5px 5px 25px
      border-radius: 7px
      position: relative

      &:hover
        cursor: pointer
      &::before
        position: absolute
        left: 0
        transition: var(--transition-default)
        transform: rotate(0)
        font-family: 'icons'
        content: "\e876"
        width: 20px
        height: 20px
        font-size: 12px
        border-radius: 50%
        line-height: 1.75
        text-align: center
        text-indent: 2px

      &.open
        font-weight: bold
        &::before
          transform: rotate(90deg)
          color: $colors.baby-blue
        & + .values
          padding: .5rem
          display: block


      & + .values
        display: none



    > .values
      transition: var(--transition-default)
      margin: 0 2px

      > .row
        margin: 0
        position: relative
        padding: 3px


  .row
    display: flex
    flex-flow: row nowrap
    padding: 2px 5px
    .key
      flex: 0 auto
      padding: 6px 10px
      margin: 0
      min-width: 93px
    .value
      flex: 0 auto
      border-radius: .5rem
      color: $colors.dark-grey
      background-color: darken($colors.white, 20%)
      padding: 6px 10px
      margin: 0
      border-radius: 1rem
      border: 1px dotted $colors.grey

      .jump
        transition: var(--transition-default)
        background-color: transparent
        border-radius: 7px
        padding: 5px 10px
        &:hover
          color: $colors.orange
        &:active
          color: $colors.baby-blue





  code
    font-family: $fonts-code

  .line
    > .line
      margin-left: 10px

    &.bulletin
      display: flex
      .id
        flex: 0 30px
      .author
        flex: 0 150px
      .subject
        flex: 1
      .date
        flex: 0 130px



  .tag
    &-while, &-if, &-set, &-func, &-develop, &-learn, &-observe
      display: block
      font-style: normal
      font-size: .9rem


    &-observe
      background-color: $colors.green
      color: $colors.white

    &-develop
      background-color: $colors.orange
      color: $colors.white

    &-learn
      background-color: $colors.pink
      color: $colors.white


  .link
    .value
      overflow: hidden
      a
        color: darken($colors.baby-blue, 25%)
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
        max-width: 75%
        display: block
        &:hover
          color: $colors.red

  .play
    color: $colors.pink
    background-color: transparent
    &:hover
      background-color: $colors.pink
      color: darken($colors.pink, 75%)

  .tel
    .value
      .btn
        color: $colors.green
        padding: .5rem 1rem
        &:hover
          background-color: $colors.green
          color: darken($colors.green, 75%)

  .number-item
  .line-item
  .list-item
    padding: 3px 5px
    margin-top: 5px
    line-height: 1.25

  .list-item
    &::before
      content: "⊙"
      margin-right: 3px

  .line-item
    margin-left: 2rem
    &::before
      content: "꩜"
      margin-right: 3px
      margin-left: -1.5rem

    &.indent-1::before
      margin-left: 15px

  $num-size = 24px
  .number-item
    position: relative
    padding-left: $num-size + 20
    margin-top: .5rem
    padding-bottom: .5rem
    &::before
      position: absolute
      opacity: .5
      display: block
      line-height: 1.5
      top: 0
      left: 0
      font-size: 1rem
      text-align: center
      width: $num-size
      height: $num-size
      border-radius: $num-size
  .money
    display: inline-block
    border: 1px dotted $colors.green
    color: $colors.green
    padding: .1rem .75rem .1rem .1rem
    margin: 0 .2rem
    border-radius: 1rem
    line-height: 1
    .icn
      background-color: $colors.green
      border-radius: 50%
      color: darken($colors.green, 50%)
      padding: .3rem
      width: 30px
      height: 30px
      display: inline-block
      text-align: center
      text-indext: 2px
      margin-right: .5rem

  .thanks
  .note
  .bulletin
  .warning
  .extra
    min-width: 50px
    flex: 1
    padding: .25rem 0 .25rem 2rem
    margin: 1rem .5rem
    border-radius: .5rem
    padding: 1rem
    &::before
      font-family: icons
      font-size: 2rem
      display: block
      line-height: 1
      font-weight: 100
      text-align: center
      padding-bottom: 1rem

  .thanks
    font-size: 1.5rem
    padding: 1rem
    font-weight: thin
    text-align: center
    color: darken($colors.yellow, 50%)
    background-color: $colors.yellow
    &::before
      content: "\e9c8"

  .note
    color: darken($colors.note, 70%)
    background-color: $colors.note
    &::before
      content: "\e610"

  .extra
    text-align: center
    font-weight: bold
    &::before
      content: "\e956"

  .warning
    color: lighten($colors.red, 70%)
    background-color: $colors.red
    text-align: center
    font-weight: bold
    .label
      display: none
    .value
      margin-left: 2rem
    &::before
      font-size: 2rem
      content: "\e955"

  .bulletin
    color: $colors.white
    background-color: $colors.orange
    &::before
      content: "\e6cb"

  .msg
    display: flex
    flex-flow: row nowrap
    > span
      display: inline-block
      padding: 0 .3rem 0 0
    .date
      order: 3
      text-align: right
    .author
      order: 1
      flex: 0 150px
      width: 100px
    .subject
      order: 2
      flex: 2

#Content
  .feecting
    [data-cmd]
    [data-tty]
      &:hover
        cursor: pointer

    &.twitch
      background-color: #9147ff
      border-radius: 0 .5rem .5rem .5rem
      padding: 1rem
      margin: 2rem 0 .5rem 0
      position: relative
      color: $colors.white

      h2
        position: absolute
        top: -28px
        left: 0
        display: inline-block
        text-align: center
        font-size: 1.2rem
        font-weight: normal
        color: lighten(#9147ff, 50%)
        margin: 0
        padding: .25rem 1rem 0 1rem
        background-color: #9147ff
        border-radius: .5rem .5rem 0 0
        border-bottom: 0

    &.twitter
      background-color: rgba(0,0,0,.1);
      padding: .5rem
      border-radius: 1rem
      box-shadow: 0 3px 9px rgba(0,0,0,.25)
      .name
        font-size: 1.2rem
        font-weight: bold

      .describe
      .status
      .network
        border: none

    &.pastebin
    &.ezine
      pre
        code
          white-space: pre-wrap
          font-size: .55rem

  .tag
    &.hash
    &.mention
    &.include
      display: inline
      margin: 0 .25rem
      border-radius: .25rem
      padding: 0 .25rem
      text-transform: uppercase


    &.hash
      background-color: rgba($colors.baby-blue, .5)
      color: $colors.white

    &.mention
      background-color: rgba($colors.orange, .5)
      color: $colors.white

    &.include
      background-color: rgba($colors.red, .5)
      color: $colors.white

.box
  &.object
  .pdf
    height: 100%
  &.training
    display: flex
    flex-flow: column nowrap
    margin: .5rem 0
    padding: .5rem
  &.card
    background-color: rgba(255,255,255,.5)
    box-shadow: 0 3px 5px rgba(0,0,0,.25)
    color: $colors.dark-grey
    border-radius: .5rem
    margin: 1rem 0
    padding: 1rem

  &.agents
  &.blips
    display: flex
    flex-flow: row wrap
    margin: 0
    border-radius: .5rem

    .item
      .value
        .cmd
          background-color: transparent
          color: inherit
          &:hover
            color: $colors.orange
          &::before
            font-size: 1rem
  &.agents
    .item
      .value
        .cmd
          font-size: .75rem
          &::before
            font-size: .75rem
            content: "\e71e"
  &.blips
    .item
      .value
        .btn.cmd
          border: none
          padding: .0 .25rem
          margin:0
          font-size: .8rem
          &::before
            content: "\e713"

  &.training
    .item
      .value
        .btn.cmd
          border: none
          padding: .0 .25rem
          margin:0
          font-size: .8rem
          &::before
            content: "\e862"

  &.editor
    color: $colors.orange
    white-space: pre-wrap
    display: flex
    flex-flow: column nowrap

    textarea
      font-family: $fonts-code
      font-weight: 100
      font-size: 12px
      background-color: rgba($colors.black, .5);
      box-shadow: inset 0 0 9px rgba($colors.green, .5);
      color: $colors.green
      padding: .5rem 1rem
      border-radius: .5rem
      flex: 1
      resize: none
      border: none
      outline: none
      height: 45rem

  &.code
    font-family: $fonts-code
    white-space: pre-wrap
    font-size: .55rem
    font-weight: 100
    padding: 0 .5rem
    max-width: 100%
    max-height: 100%

  .twitter
    display: flex
    overflow: auto

    .tweet
      flex 0 450px
      min-width: 450px
      flex-flow: row wrap

      .avatar
        flex: 0
      .item
        &.name
        &.origin
          flex: 1
        &.status
          flex: 0 100%

        .label
          display: none

  .tweet
    display: flex
    flex-flow: row nowrap
    margin: 1.5rem .5rem
    padding: 1rem
    border-radius: .5rem
    font-size: .9rem
    border-left: .2rem solid
    border-right: .2rem solid

    .avatar
      img
        border-radius: 50%

    .profile
      display: flex
      flex-flow: column nowrap
      flex: 1
      .label
        display: none
      &_image
        img
          border-radius: 5rem
      &_name
        font-size: 1.2rem
        font-weight: bold
        padding-left: .5rem

.pastebin
.ezine
  pre
    code
      max-width: 100%
      display: block
      font-family: $fonts-code
      font-weight: normal
      font-size: .55rem
      white-space: pre-wrap
      text-decoration: none

.browser-item
  .cover
    .pdf
      border-radius: .5rem
      overflow: hidden
      iframe
        height: 600px
  .cmd
  .tty
    .label
      display: none

  .agent
    .cover
      .avi
        width: 100%
        background-color: transparent
        border: none
        box-shadow: none
        padding: 1rem 0
        &:hover
          cursor: default
          background-color: transparent
        img
          border-radius: 50%
#Content
#ShellOutput
  .box
    &.wikipedia
      display: flex
      flex-flow: row wrap
      .wiki
        flex: 1 calc(50% - 1rem)
        width: calc(50% - 1rem)
        margin: .5rem

        h4
          white-space: nowrap
          text-overflow: ellipsis
          overflow: hidden
          widows 100%

        .summary
          .describe
            height: 100px
            overflow: auto

    &.wiki
      display: flex
      flex-flow: column nowrap
      border-left: .2rem solid
      border-right: .2rem solid
      font-size: .8rem
      border-radius: 1rem
      margin: 1rem 0
      padding: .5rem 1rem
      h4
        font-size: 1.2rem
        font-weight: bold
        padding: 0
        margin: 0
      .label
        display: none

      .summary
        display: flex
        .thumbnail
          padding: 0 .5rem 0 0
          img
            max-width: 72px
            max-height: 72px
            border-radius: .5rem


    &.buttons
      display: flex
      justify-content: flex-start
      flex-flow: row wrap
      padding: 0
      margin: 5px 0
      .item
        margin: 0
      .bmud
        border-radius: .5
        line-height: 1.25

      .btn
        &.cmd
        &.tty
          border: none
          border-radius: 1rem
        &.button
          padding: .25rem .5rem
          font-weight: bold
