/* Copyright (c)2022 Quinn Michaels */
:root
  --main-width: 800px
  --color-white: $colors.white
  --color-black: $colors.black
  --color-grey: $colors.grey
  --color-light-grey: $colors.light-grey
  --color-dark-grey: $colors.dark-grey
  --color-darker-grey: $colors.darker-grey
  --color-darkest-grey: $colors.darkest-grey
  --color-baby-blue: $colors.baby-blue
  --color-blue: $colors.blue
  --color-light-baby-blue: $colors.light-baby-blue
  --color-green: $colors.green
  --color-light-green: $colors.light-green
  --color-yellow: $colors.yellow
  --color-light-yellow: $colors.light-yellow
  --color-dark-yellow: $colors.dark-yellow
  --color-pink: $colors.pink
  --color-light-pink: $colors.light-pink
  --color-orange: $colors.orange
  --color-light-orange: $colors.light-orange
  --color-red: $colors.red
  --color-light-red: $colors.light-red
  --color-purple: $colors.purple
  --color-light-purple: $colors.light-purple
  --color-aqua: $colors.aqua
  --color-light-aqua: $colors.light-aqau
  --color-note: $colors.note
  --transition-default: all .25s linear
  --header-image: url(/public/img/indra.png)
  --background-image: url(/public/img/ui/background.png)
  --header-height: 50px
  --before-height: 30px
  --before-left: -40px
  --browser-item-image: none
  --browser-item-bgcolor: transparent
  --browser-item-color: inherit
  --browser-item-size: inherit

$widths = {
  viewer: 720px,
  console: 640px,
}
$heights = {
  aux: 150px,
}

$border = {
  inner: .35rem
  outer: .5rem
}

$fonts-text = brandon-grotesque, Helvetica, Arial
$fonts-code = source-code-pro, menlo, monospace

html, body
  height: 100%
  width: 100%

body, div, header, main, footer, h1, h2, form, input, textarea, button, i, span, section, article, ul, li, menu
  box-sizing: border-box

body
  background-color: $colors.dark-grey
  font-size: 14px
  font-family: $fonts-text
  font-weight: 200
  padding: 0
  margin: 0
  background-repeat: no-repeat
  background-position: top center
  background-attachment: 100% auto
  // background-image: url(/public/img/ui/background.png)
  visibility: visible

pre
  font-family: $fonts-code

audio
  &.player
    height: 25px
    width: 300px
  &:active
  &:focus
    border: none
    outline: none

*[data-label]
  &::before
    display: inline-block
    padding: 0 .3rem
    margin: 0 .3rem 0 0
    border-radius: .3rem
    font-size: .75rem
    background-color: $colors.dark-grey
    color: lighten($colors.grey, 50%)
    content: attr(data-label)

#Auth
  display: non
  visibility: hidden
  opacity: 0

#Indra
  transition: var(--transition-default)
  display: flex
  opacity: 1
  flex-flow: column nowrap
  height: 100%
  min-height: 100%
  &.hidden
    visibility: hidden
    opacity: 0

  .surface
    flex: 1 auto
    order: 1
    margin: auto
    overflow: hidden
    display: flex
    flex-flow: row wrap
    width: 100%
    height: 100%
    padding: .25rem

    .console
    .panel
    .viewer
      border-radius: .5rem

    .console
      order: 1
      flex: 0 $widths.console
      min-width: $widths.console
      height: 100%
      display: flex
      margin: 0
      overflow: hidden
      flex-flow: column nowrap

      background-color: transparent

    .panel
      order: 2
      display: flex
      flex: 1 auto

    .viewer
      order: 3
      padding: 0
      min-width: $widths.viewer
      overflow: hidden
      flex: 0 $widths.viewer
      background-color: rgba($colors.black, .5)
      color: $colors.light-grey
      font-size: 18px
      padding: .5rem

#AuxPanel
  order: 4
  flex: 0 $heights.aux
  width: 100%
  height: $heights.aux
  min-height: $heights.aux
  max-height: $heights.aux
  display: flex
  flex-flow: row


.event-panel
  &.equipment
  &.inventory
    font-family: $fonts-text
    display: flex
    flex-flow: row wrap
    gap: 3px
    .item
      font-size: .75rem
      color: $colors.orange
      background-color: rgba($colors.black, .5)
      padding: .1rem .25rem

  &.context
  &.action
  &.state
  &.feature
  &.zone
  &.data
    font-family: $fonts-text
    color: $colors.grey
    flex: 1
    overflow: auto
    display: flex
    flex-flow: column
    margin: 0 0 .25rem .25rem
    background-color: rgba($colors.black, .5)
    padding: .25rem
    border-radius: $border.outer
    font-size: .8rem

  &::before
    font-family: icons
    display: block

  .label
    &::after
      content: ":"
      margin-right: .25rem

  .item
    transition: all .5s ease
    font-size: .75rem
    border-radius: $border.outer 0 0 $border.outer
    padding: 2px
    display: flex
    flex-flow: row nowrap
    .emoji
      img
        width: 14px
        height: 14px
        margin-right: .15rem

#ContextPanel
  order: 1
  margin-left: .25rem
  &::before
    content: "\e83a  Context"

#ActionPanel
  order: 2
  &::before
    content: "\e83a  Action"

#StatePanel
  order: 3
  &::before
    content: "\e676  State"

#FeaturePanel
  order: 4
  &::before
    content: "\e676  Feature"

#ZonePanel
  order: 5
  &::before
    content: "\e676  Zone"

#DataPanel
  order: 6
  flex-flow: column
  margin-right: .25rem
  &::before
    content: "\e708  Data"

  .databox
    overflow: auto
    flex: 1
    > h2
      display: none

    .item
      flex: 0 auto
      display: flex
      flex-flow: row nowrap
      .label
        min-width: 50px
        flex: 0 50px

  .datalog
    .row
      display: flex
      flex-flow: row nowrap

    .child
      > .key
        transition: var(--transition-default)
        margin:  0 2px
        border-radius: 7px
        position: relative
        display: flex
        flex-flow: row nowrap
        &:hover
          cursor: pointer
        &::before
          display: inline-block
          flex: 0 25px
          font-size: .5rem
          transition: var(--transition-default)
          transform: rotate(0)
          font-family: 'icons'
          content: "\e93c"
          color: lighten($colors.orange, 50%);
          line-height: 1.75
          text-align: center
          text-indent: 2px

        &.open
          font-weight: bold
          &::before
            transform: rotate(90deg)
            color: $colors.baby-blue
          & + .values
            display: block


        & + .values
          display: none



      > .values
        transition: var(--transition-default)
        margin: 0 2px

        > .child
          margin-left: .3rem

        > .row
          margin: 0
          position: relative
          padding: 3px
          padding-left: 1.25rem

          .key
            margin-right: .25rem
            min-width: 3.5rem
          .value
            color: $colors.yellow


footer
  flex: 0
  order: 3
  display: block
  text-align: center
  padding: .25rem
  color: darken($colors.baby-blue, 30%)
  font-size: .65rem

.center
  text-align: center
  justify-content: center

  img
    max-width: calc($widths.shell - 10px)

.center > img
  max-width: calc(100% - 10px)

[data-command]:hover
  cursor: pointer


#Viewer
  .move-in
  .move-out
    width: 100%
    height: 100%
    animation-duration: 1s
    animation-iteration-count: 1
    animation-timing-function: linear
    transform:translate3d(0,0,0)
  .move-in
    &.north
      animation-name: movein-north
    &.east
      animation-name: movein-east
    &.south
      animation-name: movein-south
    &.west
      animation-name: movein-west
    &.up
      animation-name: movein-up
    &.down
      animation-name: movein-down

    &.northwest
      animation-name: movein-north-west
    &.northeast
      animation-name: movein-north-east
    &.southwest
      animation-name: movein-south-west
    &.southeast
      animation-name: movein-south-east

  .move-out
    &.north
      animation-name: moveout-north
    &.east
      animation-name: moveout-east
    &.south
      animation-name: moveout-south
    &.west
      animation-name: moveout-west
    &.up
      animation-name: moveout-up
    &.down
      animation-name: moveout-down

    &.northeast
      animation-name: moveout-north-east
    &.northwest
      animation-name: moveout-north-west
    &.southeast
      animation-name: moveout-south-east
    &.southwest
      animation-name: moveout-south-west
