// Copyright (c) 2021 Quinn Michaels. All rights reserved.

#HelpData
  font-size: 1rem
  .tag
    display: inline-block
    background-color: rgba($colors.orange, .5)
    padding: .1rem .2rem
    margin: 0 .2rem
    border-radius: .5rem
    color: lighten($colors.orange, .5)
