#Panel
  display: flex
  flex: 1
  flex-flow: column

  p
    margin: 0 0 15px 0

  .cover
    h3
      font-size: 1rem
      border-bottom: none
      font-weight: bold
      margin: 0
      padding: 1rem .5rem .5rem
    p
      font-size: .9rem

    .box
      &.menu
        flex: 1
        overflow auto
        font-size: .8rem

        .btn
          border-radius: .5rem
          font-size:.8rem
      &.center
        .image
          margin: 1rem 0
          img
            border-radius: 50%
            max-width: 250px
            max-height: 250px


    .item.var
      display: none
      visibility: hidden

  > .box
    &.veda
      display: flex
      flex-flow: column
      flex: 0
      height: 100%

      .title
        display: flex

        .value
          flex: 1
          font-size: 1.25rem
          text-align: center
          font-weight: bold

      .title
      .describe
        flex: 0
        padding: .25rem
        .label
          display: none;

      .menu
        height: 100%
        overflow: auto

  .cover
    background-image: var(--browser-item-image)
    background-color: var(--browser-item-bgcolor)
    color: var(--browser-item-color)
    font-size: var(--browser-item-size)
    background-repeat: no-repeat
    background-position: top center
    background-size: 100% auto
    min-width: 100%
    padding: 0
    overflow: scroll
    height: 100%
    line-height: 1.25
    width: 100%
    flex: 1
    font-size: 1rem
