
.box
  &.pastebin
    overflow: auto
    padding: .25rem
    background-color: $darker-grey
    pre
      margin: 0
      code
        max-width: 100%
        display: block
        font-family: $fonts-code
        font-weight: normal
        font-size: .55rem
        white-space: pre-wrap
        text-decoration: none
